
@media screen and (max-width: 768px){
    .section {
        /*background-image: url("piedra-papel-tijera.jpg");*/
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
        max-width: 600px;
        border: 2px solid black;
    }
    
    .button_box{
        display: flex;
        flex-direction: row;
        padding-left: 0;
    }
    li{
        margin: 5px;
        list-style: none;
    }
    .button_dice {
        background-color: #fff;
        border: 2px solid black;
        border-radius: 8px;
        padding:16px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        cursor: pointer;
        max-width: 100px;
        
    }
    
    
    .button_dice:hover{
        background-color: #f3a1a1;
    
    }
    .button_box.machine .button_dice {
        border: 2px solid rgb(147, 139, 139);

    }
    .random_button {
        background-color: rgb(250, 240, 240);
        border: 2px solid black;
        border-radius: 8px;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        cursor: pointer;
        width: 150px;
        height: auto;
        min-height: 20px;
        margin: 20px;
    }
    
 
}

.button_box.player .button_dice{
    transition: .5s, color .10s;
        -webkit-transition: .5s, color .10s;
        -moz-transition: .5s, color .10s;
}
.button_box.player .button_dice:hover{
    transform: scale3d(1.5, 1.5, 0.3);
        -webkit-transform: scale3d(1.5, 1.5, 0.3);
        -moz-transform: scale3d(1.5, 1.5, 0.3);
}